.wrapper{

    display: flex;

    main{
        flex: 1;
    }
}

@media (max-width:768px){

    .wrapper{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        
    }
    
}